<link rel='stylesheet' href='/stylesheets/author.css' />
<div class='contenido'>
	<div class='marco'>
		<div class='foto'><img src="/images/foto.jpg" height="300" width="300"/></div>
		<div class='nombre'><%= nombre%></div>
	</div>
	<div class='video'>
		<iframe width="640" height="360" src="https://www.youtube.com/embed/MZNH0sBmbRI" frameborder="0" allowfullscreen></iframe>
	</div>
	<div class='clear'></div>
</div>